<nav class="navbar bg-body-tertiary" style="background-color: rgb(226, 229, 232);padding: 0;display: flex;
    justify-content: center;">
    <div class="container-fluid"
        style="background-color: rgb(226, 229, 232);margin: 0; padding: 1rem 4rem;font-weight: 500;">
        <a class="navbar-brand" style="color:rgb(84, 47, 47);">NEXUS</a>
    </div>
</nav>