@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
body {
    background-color: rgb(226, 229, 232);
    height: 100vh;
    width: 100vw;
    font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings:"wdth" 100;
}


/* ---------NAVBAR-------------- */

.container-fluid{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    border-bottom: 2px solid rgb(96, 94, 94);
}

@media (min-width: 600px) {
    body{
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .menu,.menudata{
        display: none;
    }
    .usercontainer{
        padding-top: 2rem;
        width: 100vw;
        height: 90vh;
        display: flex;
        justify-content: center;
        gap: 3rem;
        overflow: scroll;
        padding-bottom: 1.5rem;
        scrollbar-width: none;
    }

    
    /* --------list---------------- */
    #searchUser{
        margin: 10px;
        border-radius: 4px;
        font-style: italic;
    }
    .userfriends{
        border: 4px solid darkgray;
        width: 20vw;
        height: 80vh;
        overflow: scroll;
        scrollbar-width: none;
        display: flex;
        flex-direction:column;
        border-radius: 10px;
    }   
    .userelement{
        background-color: rgb(200, 199, 197);
        margin: 0.7rem 5px;
        padding: 0.5rem ;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
        box-sizing: border-box;
        word-wrap: break-word;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .userelement:hover{
        background-color: rgb(184, 183, 180);
        color: white;
    }
    .userelement div:first-child{
        width: 80%;
    }
    .notification{
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 2px solid rgb(87, 86, 86);
        background-color: rgb(235, 202, 13);
        display: none;
    }
    
    
    /* --------message box-------- */
    .back{
        display: none;
    }
    .chattingUser{
        font-size: 1.5rem;
        padding: 10px;
        border-radius: 20px;
        display: inline;
    }
    
    
    .client {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .messages li {
        list-style: none;
        background-color: green;
        width: fit-content;
        max-width: 30vw;
        margin: 0.2rem 0.5rem;
        color: white;
        padding: 10px;
        border-radius: 15px;
        border-radius: 15px;
        overflow-wrap: break-word;
    }
    
    .server {
        display: flex;
        flex-direction: row;
    }
    
    .messages {
        width: 70vw;
        height: 70vh;
        border: 5px solid rgb(109, 107, 107);
        position: relative;
        overflow: scroll;
        scrollbar-width: none;
        border-radius: 10px;
        box-shadow:inset 5px 5px 10px rgb(166, 165, 165);
        
    }
    
    .messageBox{
        display: flex;
        align-items: center;
    }
    .messageBox>.sendIcon{
        margin-top: 17px;
    }
    .messageBox>input {
        width: 50vw;
        height: 2rem;
        margin-top: 1rem;
    }
    
    .right{
        display: block;
    }
/* ------------------footer-------------- */
    .footer {
        color: rgb(107, 105, 105);
        font-size: 1rem;
        font-weight: 500;
        border-top: 1px solid rgb(104, 104, 104);
        background-color: rgb(226, 229, 232);
        height: 3rem;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0px;
    }
    /* --------container----------- */
}



/* ----------------Resposnsive---------------- */


@media (max-width: 600px) {
    .desktopMenu{
        display: none;
    }
    .menu{
        font-size: 1.5rem;
        
    }
    .container-fluid{
        transition: all 1s ease-in-out;
    }
    .menudata{
        display: none;
        position: absolute;
        right: 2rem;
        top: 3rem;
        border: 2px solid;
        background-color: white;
    }
    .menudata form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .menudata form>*{
        width: 100%;
        margin-top: 1rem 0;
    }
    .menu-bg{
        height: fit-content;
    }
    .usercontainer{
        margin-top: 2rem;
        width: 100vw;
        height: 70vh;
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
    }
    /* --------list---------------- */
    .userfriends{
        border: 4px solid rgb(151, 151, 151);
        width: 90vw;
        height: 75vh;
        overflow: scroll;
        scrollbar-width: none;
        margin: 20px;
        height: 90vh;
        display: flex;
        flex-direction: column;
        
        border-radius: 10px;
    }   
    .userfriends>input{
        margin: 10px 5px;
        width: 95%;
    }
    .userelement{
        background-color: rgb(200, 199, 197);
        font-size: 1rem;
        margin: 0.7rem 5px;
        padding: 0.4rem ;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .userelement:hover{
        background-color: rgb(184, 183, 180);
        color: white;
    }
    
    .userelement div:first-child {
        width: 80%;
    }
    .notification {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 2px solid rgb(87, 86, 86);
        background-color: rgb(235, 202, 13);
        display: none;
    }
    
    /* --------message box-------- */
    .chattingnavbar{
        display: flex;
    }
    .back {
        display: block;
        font-size: 1.5rem;
        padding: 10px;
        border: 1px solid gray;
        display: flex;
        align-items: center;
        border-radius: 15%;
        display: inline;
        margin: 5px;
    }
    .chattingUser{
        display: inline;
        display: flex;
        margin: 5px;
        font-size: 1.5rem;
        border-radius: 10%;
        align-items: center;
        overflow: hidden;
    }
    
    
    .client {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .messages li {
        list-style: none;
        background-color: green;
        color: white;
        max-width: 20vw;
        min-width: 3rem;
        margin: 0.2rem 0.5rem;
        color: rgb(1, 1, 1);
        padding: 10px;
        border-radius: 15px;
        overflow-wrap: break-word;
    }
    
    .server {
        display: flex;
        flex-direction: row;
    }
    
    .messages {
        width: 90vw;
        height: 70vh;
        border: 5px solid rgb(109, 107, 107);
        position: relative;
        overflow: scroll;
        scrollbar-width: none;
        border-radius: 10px;
        box-shadow:inset 5px 5px 10px rgb(166, 165, 165);
        
    }
        .messageBox {
            display: flex;
            align-items: center;
        }
    
        .messageBox>.sendIcon {
            margin-top: 20px;
        }
    .messageBox>input {
        width: 80vw;
        height: 2rem;
        margin-top: 1rem;
    }
    
    .usercontainer{
        display: block;
    }
    .right{
        display: flex;
        flex-direction: column;
        margin: 20px;
        width: 100%;
        height: 100%;
        display: none;
    }

    .footer{
        display: none   ;
    }
    
}

